body{
    margin: 0px;
    padding: 0;

}
*{
    box-sizing: border-box;
}
.pad-70{
    padding: 70px 0;
}
header{
    padding: 35px 0 20px;
}
.container{
    width: 1140px;
    /* border: 1px solid #333; */
    margin: 0 auto;
}

.logo{
    float: left;
    width: 200px;
}
.logo img{
    max-width: 100%;
    display: block;
     padding-top: 10px;
}
.nav{
    float: right;
    width: 800px;
    padding-top: 10px;
}
.header-wrapper{
    overflow: auto;
}
.navmenu{
    list-style-type: none;
}
.navmenu li{
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 96px;
}
ul li a{
    text-decoration: none;
    color: #626262;
   
}


/*Banner part */

.banner img{
    width: 100%;
}

/* banner end here */

/*Weekend start*/

.tag,.comment{
    text-transform: uppercase;
    font-size: 20px;
    color: #b4ad9e;
    
}
.comment{
    text-decoration: none;
}
.title{
    color: #626262;
    font-size: 30px;
}
.description{
    line-height: 1.7;
    margin-bottom: 40px;
}

/*Weekend end*/

.post{
    width:48% ;
}
.post img{
    width: 100%;
    margin-bottom: 30px;
}
.row{
    overflow: auto;
    margin-bottom: 70px;
}
.post-left{
    float: left;
}
.post-right{
    float: right;
}
.post tag{
    text-transform: uppercase;
}
.post-title{
    margin: 15px 0;
}